.Button {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Border styles */
    border: 3px solid black;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
