.navbar {
  background-color: white;
  padding-top: 1.5rem;
}

@media (min-width: 992px) {
  .sideMenu {
    display: none;
  }
}

@media (max-width: 992px) {
  .menu {
    display: none;
  }
}

.menu {
  text-align: right;
  padding-left: 2rem;
  padding-right: 2rem;
}
